.bg-img {
    background-image: url('/assets/images/under-construction.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    color: white;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    filter: blur(5px);
}

.msg-container {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    background: #00000078;
}

.msg-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #ffffffb5;
    font-weight: 500;
    margin-bottom: 0;
    width: 100%;
}

.back-button-container {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}
.back-button {
    position: absolute;
    left: 3vw;
    top: 3vw;
    padding: 5px;
    border-radius: 5px;
    background: #ffffffb5;
    cursor: pointer;
}