.example-card {
  max-width: 400px;
}

.sachin {
  background-image: url("//content.virginatlantic.com/content/vaa/www/in/en/home.damAssetRender.20210728T1218583200400.html/content/dam/Everymundo/london%20hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}