<div class="home">
    <!-- Header -->
    <div class="container">
        <app-header></app-header>
    </div>
    <div class="flight-img" style="background-image: url('{{imgUrl}}');">
        <div class="container flight-container">
            <div class="flight-title">
                <h1 class="text-white">Fantastic Fares to <br> the UK and beyond</h1>
            </div>
            <div>
                <mat-card-actions>
                    <button mat-raised-button (click)="hello()" color="warn">Find Flights</button>
                </mat-card-actions>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="heading">
            <h1>Flights from India...</h1>
        </div>
        <div class="row">
            <div class="col-sm-4" *ngFor="let c of cards">
                <mat-card class="example-card mt-5">
                    <div mat-card-image class="img" style="background-image: url('{{c.img}}');"></div>
                    <div style="display: flex; align-items: center; flex-direction: column;">
                        <mat-card-header>
                            <mat-card-title class="title">{{c.title}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="text-center desc">{{c.desc}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button (click)="hello()" color="warn">{{c.button}}
                                <span>
                                    <mat-icon class="mt-3">trending_flat</mat-icon>
                                </span>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="heading">
            <h1>Destinations we love...</h1>
        </div>
        <div class="row">
            <div class="col-sm-4" *ngFor="let c of cards1">
                <mat-card class="example-card mt-5">
                    <div mat-card-image class="img" style="background-image: url('{{c.img}}');"></div>
                    <div style="display: flex; align-items: center; flex-direction: column;">
                        <mat-card-header>
                            <mat-card-title class="title">{{c.title}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="text-center desc">{{c.desc}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button (click)="hello()" color="warn">{{c.button}}
                                <span>
                                    <mat-icon class="mt-3">trending_flat</mat-icon>
                                </span>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-7">
                <div class="stud-img" style="background-image: url('{{studImg}}');"></div>
            </div>
            <div class="col-sm-5">
                <div class="heading">
                    <h2>Our best student offer</h2>
                    <p class="desc">Book a flight from Delhi or Mumbai to London or to any of our US destinations, and
                        on departure from India you’ll enjoy amazing baggage benefits...</p>
                </div>
                <mat-card-actions>
                    <button mat-raised-button (click)="hello()" color="warn">Find out more<span>
                            <mat-icon class="mt-3">trending_flat</mat-icon>
                        </span></button>
                </mat-card-actions>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="heading">
            <h1>Next level flying...</h1>
        </div>
        <div class="row">
            <div class="col-sm-6" *ngFor="let c of cards2">
                <mat-card class="example-card2 mt-5">
                    <div mat-card-image class="img" style="background-image: url('{{c.img}}');"></div>
                    <div style="display: flex; align-items: center; flex-direction: column;">
                        <mat-card-header>
                            <mat-card-title class="title">{{c.title}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="text-center desc">{{c.desc}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button (click)="hello()" color="warn">{{c.button}}
                                <span>
                                    <mat-icon class="mt-3">trending_flat</mat-icon>
                                </span>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-7">
                <div class="heading">
                    <h2>Need Help With Your Booking?</h2>
                    <p class="desc">Call us on our toll free number 1800 102 3000 or on +91 124 469 3030 from Monday to
                        Saturday between 9.15am to 5:15pm.</p>
                    <p class="desc">Alternatively you can email us on<a href="#">India.reservations@fly.virgin.com.</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <mat-card-actions>
                    <button mat-raised-button (click)="hello()" color="warn">All Contact Details <span>
                            <mat-icon class="mt-3">trending_flat</mat-icon>
                        </span></button>
                </mat-card-actions>
            </div>
        </div>
    </div>

    <div class="container mt-5 d-none">
        <div class="row">
            <div class="col-sm-4" *ngFor="let c of cards3">
                <mat-card class="example-card2 mt-5">
                    <div mat-card-image class="img" style="background-image: url('{{c.img}}');"></div>
                    <div style="display: flex; align-items: center; flex-direction: column;">
                        <mat-card-header>
                            <mat-card-title class="title">{{c.title}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="text-center desc">{{c.desc}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button (click)="hello()" color="warn">{{c.button}}
                                <span>
                                    <mat-icon class="mt-3">trending_flat</mat-icon>
                                </span>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="heading">
            <h1>Flying with us...</h1>
        </div>
        <div class="row">
            <div class="col-sm-4" *ngFor="let c of cards4">
                <mat-card class="example-card2 mt-5">
                    <div mat-card-image class="img" style="background-image: url('{{c.img}}');"></div>
                    <div style="display: flex; align-items: center; flex-direction: column;">
                        <mat-card-header>
                            <mat-card-title class="title">{{c.title}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="text-center desc">{{c.desc}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button (click)="hello()" color="warn">{{c.button}}
                                <span>
                                    <mat-icon class="mt-3">trending_flat</mat-icon>
                                </span>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
</div>