.flight-img {
  background-size: cover;
  aspect-ratio: 3;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.stud-img {
  background-size: cover;
  aspect-ratio: 2;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.flight-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
}

.flight-title {
  padding-top: 15%;
}

.example-card {
  max-width: 400px;
  border: 1px solid lightgray;
}

.example-card2 {
  max-width: 600px;
  border: 1px solid lightgray;
}

button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: #da0530;
}

h1 {
  color: #da0530;
  font-size: 3.375rem;
  line-height: 4.375rem;
  font-family: Gotham-XLight;
  padding-bottom: 0.625rem;
  font-weight: 500 !important;
}

h2 {
  color: #da0530;
  font-size: 2.375rem;
  line-height: 4.375rem;
  font-family: Gotham-XLight;
  padding-bottom: 0.625rem;
  font-weight: 500 !important;
}

.img {
  background-size: cover;
  aspect-ratio: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  color: #61126b;
  font-family: Gotham-Light;
  font-size: 1.4375rem;
  line-height: 1.6875rem;
  text-transform: none;
  font-weight: 400;
}

.desc {
  font-family: Gotham-Book;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #222;
  width: 100%;
  height: 5rem;
  letter-spacing: -.01rem;
}