.home {
  background-color: #f6f6f6;
}

.example-card {
  max-width: 400px;
  border: 1px solid lightgray;
}

button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: #da0530;
}

h1 {
  color: #da0530;
  background-color: #da0530;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.375rem;
  line-height: 4.375rem;
  font-family: Gotham-XLight;
  padding-bottom: 0.625rem;
}

.title {
  color: #61126b;
  font-family: Gotham-Light;
  font-size: 1.4375rem;
  line-height: 1.6875rem;
  text-transform: none;
  font-weight: 400;
}

.desc {
  font-family: Gotham-Book;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #222;
  width: 100%;
}