<div class="footer mt-5">
    <div class="container">
        <div class="row footer-content">
            <div class="col-sm-3">
                <h6>About Virgin Atlantic</h6>
                <p>Our story</p>
                <p>Media centre</p>
                <p>Business as a force for good</p>
                <p>Annual reports</p>
                <p>Careers</p>
            </div>
            <div class="col-sm-3">
                <h6>Support</h6>
                <p>Help and contact</p>
                <p>Before you book</p>
                <p>At the airport</p>
                <p>On the flight</p>
                <p>Lost property</p>
            </div>
            <div class="col-sm-3">
                <h6>Policies</h6>
                <p>Modern Slavery statement</p>
                <p>Conditions of Carriage</p>
                <p>Tarmac delay plan</p>
                <p>Customer commitment</p>
            </div>
            <div class="col-sm-3">
                <h6>More</h6>
                <p>Business travel</p>
                <p>Virgin Atlantic Cargo</p>
                <p>Travel trade</p>
                <p>Affiliates</p>
                <p>Partners</p>
            </div>
        </div>
        <hr>
        <div class="content text-black">
            <p>© 2022 Virgin Atlantic Airways Ltd. All rights reserved.</p>
            <p>Registered office: The VHQ, Fleming Way, Crawley, West Sussex RH10 9DF</p>
            <p><a class="footer-links" href="">Cookie statement</a> | <a class="footer-links" href="">Terms and
                    conditions</a> | <a class="footer-links" href="">Privacy policy</a> |
                <a class="footer-links" href="">Accessibility</a> | <a class="footer-links" href="">Canadian tariffs</a>
                |
                <a class="footer-links" href="">Israeli Law and
                    Regulations</a>
            </p>
        </div>
        <div>
            <p class="content-img">
                <img class="atm-img" src="https://www.virginatlantic.com/content/dam/vaa/paymentLogos/VISA.png"
                    alt="VISA">
                <img class="atm-img" src="https://www.virginatlantic.com/content/dam/vaa/paymentLogos/MasterCard.png"
                    alt="MasterCard">
                <img class="atm-img"
                    src="https://www.virginatlantic.com/content/dam/vaa/paymentLogos/American-Express.png"
                    alt="American-Express">
                <img class="atm-img" src="https://www.virginatlantic.com/content/dam/vaa/paymentLogos/Diners-Club.png"
                    alt="Diners-Club">
                <img class="atm-img" src="https://www.virginatlantic.com/content/dam/vaa/paymentLogos/Discover.png"
                    alt="Discover">
                <img class="atm-img" src="https://www.virginatlantic.com/content/dam/vaa/paymentLogos/UATP.png"
                    alt="UATP">
                <img class="atm-img" src="https://www.virginatlantic.com/content/dam/vaa/paymentLogos/Pay-pal.png"
                    alt="Pay-pal">
            </p>
        </div>
        <div class="content">
            <p>Bookings made by credit card or debit card no longer incur a fee.</p>
        </div>
        <div class="footer-icons">
            <a href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="">
                <i class="fa-solid fa-globe"></i>
            </a>
            <a href="" class="footer-links">
                <p>India - English</p>
            </a>
        </div>
    </div>
</div>