<div class="footer mt-5">
    <div class="container">
        <div class="row footer-content">
            <div class="col-sm-3">
                <h6>About Virgin Atlantic</h6>
                <p>Our story</p>
                <p>Media centre</p>
                <p>Business as a force for good</p>
                <p>Annual reports</p>
                <p>Careers</p>
            </div>
            <div class="col-sm-3">
                <h6>Support</h6>
                <p>Help and contact</p>
                <p>Before you book</p>
                <p>At the airport</p>
                <p>On the flight</p>
                <p>Lost property</p>
            </div>
            <div class="col-sm-3">
                <h6>Policies</h6>
                <p>Modern Slavery statement</p>
                <p>Conditions of Carriage</p>
                <p>Tarmac delay plan</p>
                <p>Customer commitment</p>
            </div>
            <div class="col-sm-3">
                <h6>More</h6>
                <p>Business travel</p>
                <p>Virgin Atlantic Cargo</p>
                <p>Travel trade</p>
                <p>Affiliates</p>
                <p>Partners</p>
            </div>
        </div>
        <hr>
    </div>
</div>